/* Futura PT - Regular */
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Futura PT - Medium */
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Futura PT - Demi */
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTDemi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Futura PT - Bold */
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Futura PT - Heavy */
@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaPTHeavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Futura PT Condensed - Regular */
@font-face {
  font-family: 'Futura PT Condensed';
  src: url('/fonts/FuturaPTCondBook.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Futura PT Condensed - Medium */
@font-face {
  font-family: 'Futura PT Condensed';
  src: url('/fonts/FuturaPTCondMedium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* Futura PT Condensed - Bold */
@font-face {
  font-family: 'Futura PT Condensed';
  src: url('/fonts/FuturaPTCondBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
